.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00b9c6; /* Dark blue border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 40px;
    color: #00b9c6; /* Dark blue text */
}

.checkout-logo {
    width: 150px;
    margin-bottom: 20px;
}

.checkout-notes {
    list-style-type: disc;
    padding-left: 20px;
    color: #f7009f; /* Bright pink text */
}

.checkout-notes li {
    margin-bottom: 15px;
}

.cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe0e2; /* Light grey border */
    padding: 10px 0;
}

.cart-item-image {
    width: 80px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.empty-cart-message {
    color: #f7bfd2; /* Light pink text */
}

.total-amount {
    margin-top: 20px;
    font-weight: bold;
    color: #f7009f; /* Bright pink text */
}

h3, h4, h5 {
    margin-bottom: 10px;
    color: #00b9c6; /* Dark blue text */
}
